@import "tailwindcss";

:root {
  --color-primary: #1C5253;
  --color-secondary: #B6174B;
  --color-tertiary: #F3FFC6;
  --color-quaternary: #C3EB78;
  --color-quinary: #FFFFFF;
  --color-senary: #F4C2C2;
  --color-septenary : #1E1E1E;
  --color-octonary : #303030;
  --color-nonary: #048e91;
  --color-denary: #960c3a;
  


  --color-primary-text: #F3FFC6;
  --color-secondary-text: #B6174B;
  --color-tertiary-text: #C3EB78;
  --color-quaternary-text: #FFFFFF;
  --color-quinary-text: #1C5253;
}

@layer utilities {
  /* Background colors */
  .bg-Primary {
    background-color: var(--color-primary);
  }
  .bg-Secondary {
    background-color: var(--color-secondary);
  }
  .bg-Tertiary {
    background-color: var(--color-tertiary);
  }
  .bg-Quaternary {
    background-color: var(--color-quaternary);
  }
  .bg-Quinary {
    background-color: var(--color-quinary);
  }
  .bg-Senary {
    background-color: var(--color-senary);
  }
  .bg-Septenary {
    background-color: var(--color-septenary);
  }
  .bg-Octonary {
    background-color: var(--color-octonary);
  }
  .bg-Nonary {
    background-color: var(--color-nonary);
  }
  .bg-Denary {
    background-color: var(--color-denary);
  }

  /* Text colors */
  .text-PrimaryText {
    color: var(--color-primary-text);
  }
  .text-SecondaryText {
    color: var(--color-secondary-text);
  }
  .text-TertiaryText {
    color: var(--color-tertiary-text);
  }
  .text-QuaternaryText {
    color: var(--color-quaternary-text);
  }
  .text-QuinaryText {
    color: var(--color-quinary-text);
  }

  /* Hover colors*/
  .hover\:bg-Primary:hover {
    background-color: var(--color-primary);
  }
  .hover\:bg-Secondary:hover {
    background-color: var(--color-secondary);
  }
  .hover\:bg-Tertiary:hover {
    background-color: var(--color-tertiary);
  }
  .hover\:bg-Quaternary:hover {
    background-color: var(--color-quaternary);
  }
  .hover\:bg-Quinary:hover {
    background-color: var(--color-quinary);
  }
  .hover\:bg-Senary:hover {
    background-color: var(--color-senary);
  }
  .hover\:bg-Septenary:hover {
    background-color: var(--color-septenary);
  }

  /* SVG fill colors */
  .fill-Primary {
  fill: var(--color-primary);
  }
  .fill-Secondary {
    fill: var(--color-secondary);
  }
  .fill-Tertiary {
    fill: var(--color-tertiary);
  }
  .fill-Quaternary {
    fill: var(--color-quaternary);
  }
  .fill-Quinary {
    fill: var(--color-quinary);
  }
  .fill-Senary {
    fill: var(--color-senary);
  }
  .fill-Septenary {
    fill: var(--color-septenary);
  }


  /* Border colors */
.border-Primary {
  border-color: var(--color-primary);
}

.border-Secondary {
  border-color: var(--color-secondary);
}

.border-Tertiary {
  border-color: var(--color-tertiary);
}
.border-Quaternary {
  border-color: var(--color-nonary);
}
.border-Quinary {
  border-color: var(--color-quaternary);
}

.hover\:border-Primary:hover {
  border-color: var(--color-primary);
}

}

/* Scrollbar width */
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

/* Track (hidden background) */
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #267276; 
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #1f595c;
}

/* ---- TOP PADDING (fake up arrow space) ---- */
.scrollbar-custom::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: block;
  height: 12px;     /* top space */
  background: transparent;
  border: none;
}

/* ---- BOTTOM PADDING (fake down arrow space) ---- */
.scrollbar-custom::-webkit-scrollbar-button:single-button:vertical:increment {
  display: block;
  height: 12px;     /* bottom space */
  background: transparent;
  border: none;
}

